# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
react-hooks-frontend/node_modules
react-hooks-frontend/.pnp
.pnp.js

# testing
react-hooks-frontend/coverage

# production
react-hooks-frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
